{% extends 'web/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block meta %}
<meta name="title" content="{{article.category.name}}">
<meta name="description" content="{{article.title}}">
<meta property="og:image" content="https://viswamaithrithinks.com{{article.article_image.crop.1000x600}}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:title" content="{{article.category.name}}">
<meta property="og:description" content="{{article.title}}">
<!-- Twitter -->
<meta property="twitter:card" content="{{article.category.name}}">
<meta property="twitter:url" content="{{request.build_absolute_uri}}">
<meta property="twitter:title" content="{{article.category.name}}">
<meta property="twitter:description" content="{{article.title}}">
{% endblock meta %}
{% block content %}
<main class="bg-grey pb-30">
    <div class="container single-content">


        <!-- Title ,Author and Share links  -->
        <div class="entry-header entry-header-style-1 mb-50 pt-50">

            <!-- <h1 class="entry-title mb-50 font-weight-900">
                {{article.title}}  
            </h1> -->


            {% for content in contents %}
            {% if content.advance_title %}
            {{content.advance_title |safe}}
            {% else %}
            <h1 class="entry-title mb-50 font-weight-900">
                {{content.title}}
            </h1>
            {% endif %}

            <!-- {% if content.advance_title %}

            <h1 class="entry-title mb-50 font-weight-900">
                {{content.advance_title |safe}}

            </h1>
            {% else %}
            <h1 class="entry-title mb-50 font-weight-900">
                {{content.title}}

            </h1>

            {% endif %} -->



            {% endfor %}

            <div class="row">

                <!-- Author -->
                <div class="col-md-6">
                    <div class="entry-meta align-items-center meta-2 font-small color-muted">



                        {% for content in contents %}
                        {% if content.custom_author %}
                        <div class="author-avatar">
                            {{content.custom_author |safe}}
                        </div>
                        {% else %}

                        {% for author in article.author.all %}
                        <p class="mb-5">
                            <a class="author-avatar" href="{% url 'blog:author' author.id %}"><img class="img-circle"
                                    src="{{author.photo.crop.50x50}}" alt=""></a>
                            By <a href="{% url 'blog:author' author.id %}"><span class="author-name font-weight-bold">
                                    {% if author.name %}{{author.name}}{% endif %}</span></a>
                        </p>
                        {% endfor %}
                        {% endif %}

                        {% endfor %}
                        <span class="mr-10">{{article.created_date|date:"M d, Y"}} </span>
                        <span class="has-dot"> {{article.read_time}} mins read</span>




                    </div>
                </div>
                <!-- Author -->


                <div class="col-md-6 text-right d-none d-md-inline">
                    <ul class="header-social-network d-inline-block list-inline mr-15">
                        <li class="list-inline-item text-muted"><span>Share this: </span></li>
                        <li class="list-inline-item"><a class="social-icon fb text-xs-center" target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"><i
                                    class="elegant-icon social_facebook"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon tw text-xs-center" target="_blank"
                                href="https://www.twitter.com/intent/tweet?text={{article.category.name|urlencode}}%20{{request.build_absolute_uri}}"><i
                                    class="elegant-icon social_twitter "></i></a></li>
                        <li class="list-inline-item"><a class="social-icon pt text-xs-center" target="_blank"
                                href="https://api.whatsapp.com/send?text=*{{article.category.name|urlencode}}*%0A%0A{{article.title|urlencode}}%0A{{request.build_absolute_uri}}"><i
                                    class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Title, Author and Share links  -->

        <!--Image-->

        <figure class="image aricle-head mb-30 m-auto text-center border-radius-10">
            <span class="category-name-in-figure">{{article.category.name}}</span>
            <img class="border-radius-10" src="{{article.article_image.crop.1000x600}}" alt="post-title" />
        </figure>

        <!--figure-->
        <div class="article-content-area rich-text-area " style="text-align:start;">
            {% for content in contents %}
            {{ content.content_with_uploadImage | safe }}
            {% endfor %}
        </div>
        <article class="entry-wraper mb-50">
            <!-- Tags -->
            <div class="entry-bottom mt-50 mb-30 wow fadeIn animated">
                <div class="col-md-8 text-md-right font-small align-self-center">
                    <p class="d-inline-block mr-5 mb-0"><i class="elegant-icon  icon_tag_alt mr-5 text-muted"></i>Tags:
                    </p>
                    <ul class="list-inline d-inline-block tags">
                        {% for tag in tags %}
                        <li class="list-inline-item"><a href="{% url 'blog:taggedarticles' tag.slug %}">#
                                {{tag.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
           

            {% for author in article.author.all %}
            <div class="author-bio p-30 mt-50 border-radius-10 bg-white wow fadeIn animated">
                <div class="author-image mb-30">
                    <a href="{% url 'blog:author' author.id %}"><img src="{{author.photo.crop.100x100}}" alt="" class="avatar"></a>
                </div>
                <div class="author-info">
                    <h4 class="font-weight-bold mb-20"><span class="vcard author"><span class="fn"><a href="{% url 'blog:author' author.id %}"
                                    title="Posted by Barbara Cartland" rel="author">{{author.name}}</a></span></span>
                    </h4>
                    <h5 class="text-muted">About author</h5>
                    <div class="author-description text-muted">{{author.about}}</div>
                    
                </div>
            </div>
            {% endfor %}

            <!--Comments-->
            <div class="comments-area">
                <div class="widget-header-2 position-relative mb-30">
                    <h5 class="mt-5 mb-30">Comments</h5>
                </div>

                {% for comment in comments %}
                <div class="comment-list wow fadeIn animated">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">

                            <div class="desc">
                                <p class="comment">
                                    {{comment.review}}
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5>
                                            <a href="#">{{comment.name}}</a>
                                        </h5>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

               

            </div>
            <!--comment form-->
            <div class="comment-form wow fadeIn animated">
                <div class="widget-header-2 position-relative mb-30">
                    <h5 class="mt-5 mb-30">Leave a comment</h5>
                </div>
                <form class="form-contact comment_form ajax reload" action="#" id="commentForm" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <!-- <textarea class="form-control w-100" name="comment" id="comment" cols="20" rows="3" placeholder="Write Comment"></textarea> -->
                                {{form.review}}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{form.name}}
                                <!-- <input class="form-control" name="name" id="name" type="text" placeholder="Name"> -->
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn button button-contactForm">Post Comment</button>
                    </div>
                </form>
            </div>


            <!--related posts-->
            <div class="related-posts">
                <div class="post-module-3">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Related posts</h5>
                    </div>
                    <div class="loop-list loop-list-style-1">


                        <div class="row">
                            {% for article in relatedarticles %}
                            <article class="col-md-6 mb-40 wow fadeInUp animated ">


                                <div class="post-card-1 border-radius-10 hover-up ">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5  pl-3">
                                            <div class="post-thumb thumb-overlay img-hover-slide position-relative ">
                                                <!-- style="background-image: url({{article.article_image.crop.332x130}}) " -->
                                                <a class="img-link" href="{% url 'blog:article' article.slug %}">
                                                    <img src="{{article.article_image.url}}" alt="">
                                                </a>
                                                <ul class="social-share ">
                                                    <li><a href="# "><i class="elegant-icon social_share "></i></a></li>
                                                    <li><a class="fb " target="_blank"
                                                            href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"
                                                            title="Facebook "><i
                                                                class="elegant-icon social_facebook "></i></a></li>
                                                    <li><a class="tw " target="_blank"
                                                            href="https://www.twitter.com/intent/tweet?text={{instance.title|urlencode}}%20{{request.build_absolute_uri}}"
                                                            title="Tweet now "><i
                                                                class="elegant-icon social_twitter "></i></a></li>
                                                    <li><a class="pt "
                                                            href="https://api.whatsapp.com/send?text=*{{instance.title|urlencode}}*%0A%0A{{instance.summary|urlencode}}%0A{{request.build_absolute_uri}}"
                                                            target="_blank " title="Pin it "><i
                                                                class="fa-brands fa-whatsapp"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-lg-7 col-md-7">
                                            <div class="post-content p-10 ">
                                                <div class="d-flex post-card-content ">
                                                    <h6 class="post-title mb-20 font-weight-900 webzin-tt ">
                                                        <a href="{% url 'blog:article' article.slug %}">{{article.title}}
                                                        </a>
                                                    </h6>

                                                    <!-- {% for author in article.author.all %}
                                                <p> - {{author.name}}</p>
                                                {% endfor %} -->
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-12 col-md-12">
                                            <div class="d-flex p-2">
                                                {% for author in article.author.all %}
                                                <img src="{{author.photo.url}}" alt=""
                                                    style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%;">
                                                {% if article.custom_author %}
                                                <p class="pl-3"> {{article.custom_author|safe}}</p>
                                                {% else %}
                                                <p class="pl-3"> {{author.name}}</p>
                                                {% endif %}
                                                {% endfor %}
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>




        </article>
    </div>
    <!--container-->
</main>
{% endblock %}

{% block javascript %}
<script>
    //   page specific scripts
    console.log("This will run only in index.html")
</script>
{% endblock %}