{% extends 'web/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<main class="bg-grey pb-30">
    <div class="container single-content">
        <div class="entry-header entry-header-style-1 mb-50 pt-50 text-center">
            <h2 style="text-align: center;"><b>CANCELLATION POLICY</b></h2>

        </div>

        <p>Effective date: 2022-04-01</p>
        <h4>Subscription</h4>
        <p>You can be a subscriber by making a subscription payment. Your Webzine per copy, annual, six month and
            one-year subscription which may start with a subscription as fixed by viswamaithrithinks , will continue to
            a period until you cancel your subscription. You must have Internet access and provide us with a current,
            valid, accepted method of payment to use the Webzine Subscription service. We will bill the subscription fee
            to your payment method. You will have to renew your subscription by making a new payment once the
            subscription period is over. We may, from time to time and at our sole discretion, offer a number of special
            promotional membership plans, including membership plans offered by third parties in conjunction with the
            provision of their own products and services. Some membership plans may have differing conditions and
            limitations, which will be disclosed at your registration or in other communications made available to you.
            Where the terms and conditions for those membership plans conflict with the terms and conditions set out
            herein, these Terms & Conditions shall apply.
        </p>
        <h4>No Refunds</h4>
        <p>
            All subscription through the wesite are final — states that once customers make a purchase, they will not be
            able to return that item for a replacement or refund. All purchase final policies are typically applied to
            clearance sale items.
        </p>
        <p>
            Payments are nonrefundable and there are no refunds or credits for partially used periods.

        </p>
    </div>
</main>

{% endblock %}

{% block javascript %}
<script>
    //   page specific scripts
    console.log("This will run only in index.html")
</script>
{% endblock %}