
{% extends 'web/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<main class="bg-grey pb-30">
    <div class="container single-content">
        <div class="entry-header entry-header-style-1 mb-50 pt-50 text-center">
            <h3 class="entry-title mb-20">
                Terms of Service
            </h3>
           
        </div>
        <!--end single header-->
        
        <!--figure-->
        <article class="entry-wraper">
            <p class="font-large">You agree to our terms and conditions by using this website. Please don't use this website if you cannot agree with these terms and conditions. The website is hosted in Kerala and is internationally accessible through the medium of the internet and is structured as two platforms that are (1) Open Web and (2) Webzine. 

                The website includes content in text, video, and image formats. The editorial team will be strictly scrutinizing and amending the contents before uploading. Users are allowed to access any of these contents published through the Open Web without payment.
                Webzine is a compilation of contents that are exclusive and expensive. Therefore users are supposed to pay a particular amount following the time-limited subscription plans. Subscribers have to provide a few basic pieces of information for identification and communication. Any data we collect will be utilized in compliance with relevant laws and orders. The site is not liable to obstructions. We ensure security for any third-party connections. 
                
                We may revise our terms and conditions from time to time. We will try to notify you of material revisions. 
                
                Opinions shared through the contents are personal standpoints. The team does not bear any obligations on that. But, we are answerable for the matters published through this platform. </p>
            <hr class="wp-block-separator is-style-wide">
           
        </article>
        <div class="entry-header entry-header-style-1 mb-50 pt-50 text-center">
            <h3 class="entry-title mb-20">
                Intellectual Property Protection
            </h3>
           
        </div>

        <article class="entry-wraper">
            <p class="font-large">Trademarks including logo, name, domain name, and other contents in the website are intellectual properties and may be subject to copyright. Anyone accessing the website does not have the right to reuse the contents in any manner. Reproduction or redistribution of the contents will be considered an offense.</p>
            <hr class="wp-block-separator is-style-wide">
           
        </article>

        <div class="entry-header entry-header-style-1 mb-50 pt-50 text-center">
            <h3 class="entry-title mb-20">
                User Obligations
            </h3>
           
        </div>

        <article class="entry-wraper">
            <p class="font-large">You are free to stop our services at any time. We reserve the right to suspend or terminate your access to our services with or without notice in case of any interference that challenges the security of the website.  Any use of the website to the detriment of others.</p>
            <hr class="wp-block-separator is-style-wide">
           
        </article>

        <div class="entry-header entry-header-style-1 mb-50 pt-50 text-center">
            <h3 class="entry-title mb-20">
                For any consultation:
            </h3>
           
        </div>

        <article class="entry-wraper">
            <p class="font-large">Sakthibodhi Gurukulam  <br>
                Thiroor (road)  <br>
                Mulankunnathukavu PO <br>
                Pottore, Thrissur Dt <br>
                Pin 680581  <br>
                viswamaithrithinks@gmail.com <br>
                +91 94976 95422 <br>
                Whatsapp  +91 80867 05248</p>
            <hr class="wp-block-separator is-style-wide">
           
        </article>
    </div>
    <!--container-->
</main>
{% endblock %}

{% block javascript %}
<script>
    //   page specific scripts
    console.log("This will run only in index.html")
</script>
{% endblock %}

